.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}

.collection {
    display: flex;
}



